.hero {
  min-height: 70vh;
  position: relative;
  overflow: hidden;
  margin-top: 0.5rem;
  display: grid;
  place-content: center;
  padding: 1rem 0;
}
@media screen and (max-width: 74.06em) {
  .hero {
    height: 40vh;
  }
}

@media screen and (max-width: 39.34em) {
  .hero {
    min-height: 40vh;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(31, 26, 26, 0.6), rgba(109, 100, 100, 0.8));
  z-index: 0;
}

.hero-video {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.hero-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  z-index: 0;
}
.hero-textbox h2 {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 6rem;
  font-weight: 650;
  color: var(--color-white);
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 53.125em) {
  .hero-textbox h2 {
    font-size: 3rem;
    display: grid;
    justify-content: center;
    text-align: center;
  }
}

.main-section {
  width: 100%;
}

.sec-title {
  .title {
    position: relative;
    width: max-content;
    text-transform: capitalize;
    font-size: large;
    font-weight: 700;
    letter-spacing: 0.3rem;

    color: var(--color-black);
    margin: 1rem auto;
    z-index: 2;
    &::after {
      position: absolute;
      content: "";
      background-color: blue;
      height: 2px;
      width: 100px;
      right: 0;
      bottom: 2px;
      z-index: -1;
    }
  }
}

.section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

.single-destination {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--color-primary-light);
  box-shadow: 0 2px 4px rgba(95, 189, 106, 0.549);
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    background: var(--color-white-light);
    box-shadow: 1 4px 4px rgba(80, 80, 179, 0.549);
  }

  .imagediv {
    width: 100%;
    height: 20rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .card-info {
    padding: 1rem;

    text-align: center;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }
  .sec-title {
    color: var(--color-black);
    font-size: 1.25rem;
  }

  .name-flex {
    margin: 0.5rem 0;
  }

  .price-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .desc-page {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }

  .btn {
    margin-top: 1rem;
    width: 90px;
    padding: 9px;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    .btn:hover {
      background-color: var(--color-primary-light);
    }
  }
}
